
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.copy-bbox-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.custom-file-upload {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


#processedImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}